{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block user %}{% endblock %}

{% block mainheader %}<h1>Login</h1>{% endblock %}

{% block content %}

	{% if form.errors %}
		<p class="error">Invalid user name or password</p>
	{% endif %}
	
	<form action='{% url django.contrib.auth.views.login %}' method='post'>
		<label for="username">User name:</label>
		<input type="text" name="username" value="" id="username">
		<label for="password">Password:</label>
		<input type="password" name="password" value="" id="password">
		{% csrf_token %}
		<input type="submit" value="login" />
		<!--set next to redirect to front page-->
		<input type="hidden" name="next" value="/" />
	<form action='.' method='post'>

{% endblock %}