<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta name="ROBOTS" content="ALL" />
    <meta name="Copyright" content="Aalto University" />
    <meta name="keywords" content="Web album, images, album, image printing" />
    <meta name="description" content="Cool web album to upload browse create and share album" />
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/web_album.js"></script>
    <link rel="stylesheet" href="{% get_static_prefix %}css/main.css" type="text/css" />
</head>
<body>
	<!--user login/out-->
	{% block user %}
	<nav>
	{% if user.is_authenticated %}
		<div id="loggedIn">Welcome {{ user.username }}!</div>
		<div id="navLogout"><a href="/logout">Logout</a></div>
	{% else %}
		<div id="navLogin"><a href="/login/">Login</a></div>	
	{% endif %}
	</nav>
	{% endblock %}
	
	{% block mainheader %}
    <h1>Web Album - Group 11</h1>
	{% endblock %}
	
    {% block content %}{% endblock %}
    {% block footer %}
    <hr>
    <p>Aalto University - {% now "Y" %}</p>
    {% endblock %}
</body>
</html>